<h2>******** Now your result ********</h2>


Your word: <%= @attempt %>
Time Taken to answer: <%= @result[:time] %>
Translation: <%= @result[:translation] %>
Your score: <%= @result[:score] %>
Message: <%= @result[:message] %>

*****************************************************

